[defaults]
inventory = inventory.ini
deprecation_warnings = False
host_key_checking = False
# Keeps the output clean so you only see the "Loot"
stdout_callback = default
# Increases speed for multiple targets
forks = 20 

[ssh_connection]
# Speeds up execution by reusing SSH connections
pipelining = True